<footer class="bg-light p-5 mt-4">
    <div class="row">
		<div class="col-12 col-md">
			<img src="/img/melonia-logo.png" alt="Melonia" width="24" class="rounded-circle align-top mr-2" />
            <b class="site-text">Republic of Melonia</b>
			<small class="d-block mt-2 text-muted">© <span id="year">2022</span></small>
		</div>
		<div class="col-6 col-md">
			<h5>Melonia.xyz</h5>
			<ul class="list-unstyled text-small">
				<li><a class="text-muted" href="/">Home</a></li>
				<li><a class="text-muted" href="/about">About Melonia</a></li>
				<li><a class="text-muted" href="/government">Government</a></li>
				<li><a class="text-muted" href="/statements">Official Statements</a></li>
				<li><a class="text-muted" href="https://forms.gle/Ws98emG7JxKU1cy2A">Join Melonia</a></li>
			</ul>
		</div>
		<div class="col-6 col-md">
			<h5>Resources</h5>
			<ul class="list-unstyled text-small">
				<li><a class="text-muted" href="https://wiki.melonia.xyz">Melonia Wiki</a></li>
				<li><a class="text-muted" href="https://docs.google.com/document/d/e/2PACX-1vQvbfBPqMn6410EpTCBo0dFBIE4Cd2oQqcGpEN-QN-QMe-7Eo7kBZKkK9M5IuVP_gKtZ_j1Ucj2tMXD/pub">Melonian Constitution</a></li>
				<li><a class="text-muted" href="https://drive.google.com/drive/folders/1NJDH8c2TzgqUzV8_qwThFOh2WiSywU5H?usp=sharing">Melonia Government Files</a></li>
			</ul>
		</div>
		<div class="col-6 col-md">
			<h5>Socials</h5>
			<ul class="list-unstyled text-small">
				<li><a class="text-muted" href="https://twitter.com/MeloniaGov"><i class="fab fa-twitter"></i> @MeloniaGov</a></li>
				<li><a class="text-muted" href="https://youtube.com/@Melonia"><i class="fab fa-youtube"></i> YouTube</a></a></li>
				<li><a class="text-muted" href="https://twitter.com/PresWebbRM"><i class="fab fa-twitter"></i> @PresWebbRM</a></li>
				<li><a class="text-muted" href="https://twitter.com/PMScionRM"><i class="fab fa-twitter"></i> @PMScionRM</a></li>
			</ul>
		</div>
    </div>
</footer>

<style>
	footer a {
		text-decoration: none;
	}

	footer a:hover {
		text-decoration: underline;
	}

	.site-text {
		font-weight: 600;
		margin-left: 3px;
	}
</style>

<script>
	document.getElementById("year").innerHTML = new Date().getFullYear();
</script>