<head>
	<!-- Search Engine Meta -->
	<meta name="robots" content="index, follow">
	<meta name="author" content="Republic of Melonia" />
	<meta name="description" content="{% if page.desc %}{{ page.desc | escape }}{% else %}{{ page.title | escape }}{% endif %}">
	<meta name="keywords" content="melonia, minecraft, government, minecraft government, {{ page.keywords | escape }}">
	<!-- Open Graph  -->
	<meta property="og:title" content="{{ page.title | escape }}">
	<meta property="og:site_name" content="Republic of Melonia">
	<meta property="og:url" content="https://melonia.xyz">
	<meta property="og:description" content="{{ page.desc | escape }} ">
	<meta property="og:type" content="website">
	{% if page.image %}
	<meta property="og:image" content="https://melonia.xyz/img/posts/{{ page.image }}">
	{% else %}
	<meta property="og:image" content="https://melonia.xyz/img/melonia-logo.png">
	{% endif %}
	<!-- Twitter -->
	{% if page.image %}
	<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@meloniagov" />
		<meta name="twitter:title" content="{{ page.title | escape }} - {{ site.title | escape }}" />
		<meta name="twitter:description" content="{% if page.desc %}{{ page.desc | escape }}{% else %}{{ page.title | escape }}{% endif %}" />
		<meta name="twitter:image" content="https://melonia.xyz/img/posts/{{ page.image }}" />
	{% else %}
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@meloniagov" />
		<meta name="twitter:title" content="{{ page.title | escape }} - {{ site.title | escape }}" />
		<meta name="twitter:description" content="{% if page.desc %}{{ page.desc | escape }}{% else %}{{ page.title | escape }}{% endif %}" />
{% endif %}
<title>{% if page.title %}{{ page.title }} - {% endif %} Republic of Melonia</title>
	<meta name=”theme-color” content=”#96B844”>
	<link href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/bootstrap.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script>
		 $(function () { $('[data-toggle="tooltip"]').tooltip() })
	</script>
</head>	
