<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body class="d-flex flex-column container">
    <div class="m-4">
        <div class="text-center main-nav">
            <h1><img src="/img/melonia-logo.png" width="44" alt="Melonia" class="rounded-circle align-top mr-1" /> Melonia</h1>

            <a href="/" class="text-twitter"><i class="fas fa-home"></i> Home</a>
            <a href="https://twitter.com/meloniagov" class="text-twitter"><i class="fab fa-twitter"></i> Twitter</a>
            <a href="https://www.youtube.com/@melonia" class="text-youtube"><i class="fab fa-youtube"></i> YouTube</a>
            <a href="/statements/" class="text-blog"><i class="fas fa-pencil-alt"></i> Statements</a>
        </div>
        <br>
    {{ content }}
    </div>
    
    <style>
        .main-nav a {
            text-decoration: none;
            margin-right: 8px;
        }
    </style>
</body>
</html>