<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    <div class="mt-4 d-flex flex-column container">
        <div class="text-center main-nav">
            <h1>
                <img src="/img/melonia-logo.png" alt="Melonia" class="rounded-circle align-top mr-2 nav-logo" />
                Republic of Melonia
            </h1>

            <a href="/"><i class="fas fa-home"></i> Home</a>
            <a href="/about"><i class="fas fa-info-circle"></i> About</a>
            <a href="/government"><i class="fas fa-user"></i> Government</a>
            <a href="/statements/"><i class="fas fa-pencil-alt"></i> Statements</a>
            <a href="https://social.melonia.xyz/@melonia" rel="me"><i class="fab fa-mastodon"></i> Mastodon</a>
            <a href="https://twitter.com/meloniagov"><i class="fab fa-twitter"></i> Twitter</a>
            <a href="https://www.youtube.com/@melonia"><i class="fab fa-youtube"></i> YouTube</a>
        </div>
        <br>
        <div class="alert alert-warning text-center" role="alert">
            The Republic of Melonia has ceased all operations. This page is an archive of the last government in Melonia and its functions.<br><b><a href="/statements/2023/statement-closure">Read the closure statement here for more information.</a></b>
        </div>
        {{ content }}
    </div>
    
    <style>
        .main-nav a {
            text-decoration: none;
            color: black;
            margin-right: 10px;
            transition: all 200ms ease;
        }

        .main-nav a:hover, .main-nav a:active {
            color: #79bd1d;
        }

        .nav-logo {
            width: calc(1.75rem + 1.5vw);
        }
    </style>
{% include footer.html %}
</body>
</html>
